torch
torchvision
pillow
numpy
scikit-image
huggingface_hub
transformers>=4.39.1,<5
streamlit
streamlit-drawable-canvas
openpyxl
pdf2image
pypdfium2
BeautifulSoup4
google-api-python-client
google-oauth2-tool
