torch
torchvision
pillow
numpy>=1.26
scikit-image
huggingface-hub
transformers>=4.39.1,<5
streamlit
streamlit-drawable-canvas
pandas
requests
openpyxl
pdf2image
pypdfium2
beautifulsoup4
google-api-python-client
google-auth
